<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stripe-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEF8B9251D5CAAB100D1FA66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF8B9391D5CAAB200D1FA66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF8B9441D5CAAB200D1FA66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
